{erl_opts, [debug_info, warnings_as_errors, 
		native,
		{parse_transform, lager_transform},
		{i, "include"},
		{src_dirs, ["src"]}
	]}.
	
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager", "master"}},
    {sync, ".*", {git, "git://github.com/blinkov/sync.git", "master"}},
    {miller_rabin, ".*", {git, "git://github.com/blinkov/miller_rabin.git", "master"}}
]}.

{sub_dirs, ["rel"]}.

{eunit_opts, [verbose]}.
{eunit_exclude_deps, true}.
{cover_enabled, false}.